<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mraethel.PermissionLogger">
  <application>
    <service android:name=".PermissionLogger"
             android:process=".PermissionLogger"
             android:enabled="true"
             android:exported="true"
             android:permission="android.permission.BIND_PERMISSION_LOGGER"/>
  </application>
</manifest>
